body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkslategray;
}

h1 {
    color: gold;
}

h3 {
    color: darkgoldenrod;
}

img {
    height: 400px;
    width: auto;
}

p,
ul,
ol {
    color: lightskyblue;
}